################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fishy_Waters_Assignment/.vs/Fishy_Waters_Assignment/v15/Browse.VC.opendb
